[2016-02-05 22:19] lambertsteven opened #1 "bug fixes"
### index.js
[code]

should be `options.tags.hasOwnPropety`.

### loadPartials.js

[code]

`path.parse` does not exist in node v0.10.x, use `path.basename(file, path.extname(file));` instead

[2016-02-07 07:19] #1 closed

[2016-04-15 20:58] straker opened #3 "page does not sort sections"
need to copy `sectionOrder` from the `page` object into the new `pageContext` object in index.js:144.

[code]

[2016-04-19 06:11] straker commented on #3
Fixed by 50b921337104519727317e5ece81f54ce95a83af

[2016-04-19 06:11] #3 closed

[2016-05-17 13:24] MartinMuzatko opened #4 "Demo please"
this sounds promising, is there a demo to see a styleguide in action?

[2016-05-17 15:31] straker commented on #4
There are some demos inside the examples directory of this repo. The [FamilySearch.org Style Guide](https://familysearch.org/reference/styleguide/) is also using it with a custom Handlebars template. It's parsing the comments from [this repo](https://github.com/fs-webdev/fs-styles).

[2016-05-17 16:56] MartinMuzatko commented on #4
Ah! The FamilySearch.org Styleguide helped me to see what this tool is doing. thank you very much!

[2016-05-17 16:56] #4 closed

[2016-05-17 23:46] reintroducing commented on #4
This is fantastic work. I do agree, however, that you'd probably want to make the demo (in this case the FamilySearch.org SG) more prominent in the readme, and by that I mean add it at the top.  One of the first things I do when I look at these types of tools is go see a demo and see if it even looks remotely close to what I'm after.  By not putting that link in the readme I think you're possibly

[2016-05-18 03:22] straker commented on #4
Good point. I'll add it to the repo and probably also create a github page that shows off the default template.

[2016-05-18 07:31] straker commented on #4
Readme has been updated with two demos.

[2016-05-18 10:26] reintroducing commented on #4
Awesome, I think that's extremely helpful!

[2016-05-24 21:46] brandonreid opened #5 "Use with LESS/SASS?"
By chance does livingcss work with LESS/SASS css pre-processors? Was hoping to do something like...
[code]
Or something.

Thanks!

[2016-05-24 22:30] straker commented on #5
Yep! Works in any file and file type that can support jsDoc like syntax (meaning the `/** */` comments)

[2016-05-24 22:50] brandonreid commented on #5
@straker Appreciate it! Any chance you know of a good example of this? Having trouble getting going, trying to start mine with gulp & less.

[2016-05-24 23:08] brandonreid commented on #5
@straker NM, got it! I'll post how I did it here when I get a little further along. Might make a PR with a LESS example.

[2016-05-25 02:36] brandonreid commented on #5
Ok. For future reference, I got things rolling with a gulp file that looked like so:
[code]
I copied the template file from the `node_modules/gulp-livingcss/node_modules/livingcss/template`, copied it to my root and set livingcss to use it in the options there ^. Now I can compile my less separately, reference it in my own template copy, style my template, etc. 💥

[2016-05-25 04:31] straker commented on #5
Glad you got it working. Why did you need to copy the template into your directory? Was it not loading properly?

[2016-05-25 04:57] brandonreid commented on #5
I wanted to copy the template so I could customize the style of the actual style guide, but it also allowed me to import my compiled styles file manually into the demos. Couldn't figure out how to have livingcss recognize my compiled less styles through the options (if that's possible).

In all it would be helpful to have a demo of options used in the gulp-livingcss version like you show in the no

[2016-05-25 06:48] straker commented on #5
I see. There's actually is a way to bring in any stylesheets you need into the demos. It's not an option but actually part of customizing the [context object](https://github.com/straker/livingcss#context-object) by adding onto the `stylesheets` property.

So for your less files you'd probably do the following:

[code]

I'll make a demo of doing something like this for future reference since it's d

[2016-05-25 17:04] brandonreid commented on #5
@straker Ok so was trying to get this working. Getting this err: `TypeError: livingcss.readFileGlobs is not a function`. I tried to find the function various ways, when I log out `livingcss` in the function I don't see the `readFileGlobs` anywhere. Any ideas?

[2016-05-25 17:36] straker commented on #5
You're right. The function is only made available from the node version of livingcss, but not on the gulp version. I'll create an issue on the gulp-livingcss repo to add the utility functions onto the gulp plugin.

[2016-05-26 03:14] straker commented on #5
Alright, latest gulp-livingcss now exposes the utility functions.

[2016-05-26 04:20] brandonreid commented on #5
Wooot! Many thanks @straker

For the record, now that that's all good I was able to import my compiled less styles by compiling the less first into a `./dist/` folder, then (in (sequence)[https://www.npmjs.com/package/run-sequence] so the styles existed before livingcss ran) was able to import those styles like so..
[code]

__Side note:__ This is by far the best pattern library generator, I'm off

[2016-05-26 04:50] straker commented on #5
Awesome, glad everything worked out for you. I'll add an example of using LESS/SASS as the file sources soon.

[2016-05-26 04:53] brandonreid commented on #5
Bah, one last nbd hangup. So that `readFileGlobs` method will record the path to the styles but doesn't copy the styles file to the final `pattern-library` (in my case) folder so the reference matches. I just set gulp-less up to send my styles to two folders, one `./dist/` and one `./pattern-library/dist/`.

^Had to add that for the future me figuring it out. All set.

[2016-05-26 05:14] straker commented on #5
Ya, copying the files over would destroy any relative file paths to images and whatnot, so I just reference them to preserve that. I'll make sure to point that out as well.

[2016-06-05 18:41] reintroducing opened #6 "pattern "../../css/main.css" does not match any file"
I'm getting this error when I'm trying to preprocess the context to link my output css file (I'm running gulp-livingcss against a Sass codebase).

My task:
[code]

When I go to the URL `http://localhost:3000/style-guide/info/` I see the SG output but with the default styling. When looking at the output index.html, nothing was written between the user styles comment block.  If I add that file path

[2016-06-06 05:30] straker commented on #6
An pr was just merged in straker/gulp-livingcss#3 that might resolve this issue for you. The `dest` parameter was missing which correctly determines the relative path from the dest directory to linked stylesheets.

[2016-06-06 09:17] derbaeuerle commented on #6
Thanks for merging my pull request and supporting the dest argument. I've got one final request.

The dest argument is now required in order to be able to pass an options object. Also there is no default value defined, so you won't be able to use the library like this: `livingcss(null, {...})`.

Wouldn't it be nice if the gulp library detects whether the first argument is an object (options) or a

[2016-06-06 11:07] reintroducing commented on #6
This did not work. I did some digging in the livingcss code and arrived at these lines:

[code]

My source files are .scss files and my output is a css file.  That checks to see if the input files, not the dest path, is a css file and if it is it adds it to the stylesheets in the context.  This will fail for anyone using Sass as the input.  Hope this helps.

[2016-06-06 11:09] reintroducing commented on #6
A quick follow up as I just realized this: I think the dest path should update globalStylesheets as I had in my `livingcssConfig` method above. I want to load the whole stylesheet that gets output from my sass compilation at the top of the page where the user styles should go.

[2016-06-06 14:37] straker commented on #6
@derbaeuerle The `dest` parameter is more or less required. Since the `loadcss` options defaults to true, you'll need the `dest` parameter to get a correct relative path from the destination directory to the stylesheets. It also has a default value assigned to it by LivingCSS of the current directory, so you can pass `null` in.

I do like you're idea so that you don't have to use `dest` if you're

[2016-06-07 17:38] reintroducing commented on #6
@straker Thanks, thats actually the issue I modeled my setup from, but I don't think it is doing what it's supposed to (also the URL to the issue you linked is not working).  Let me explain my setup.

At the root of my project I have a /css directory and a /style-guide directory.  The /css dir is where my Sass spits out my compiled file. /style-guide is where LivingCSS gets generated to (actually

[2016-06-07 19:25] straker commented on #6
I think I follow you. Your directory structure looks like this:

[code]

What I think you just need to do is do a `path.relative` from the `dest` to the location of `css/main.css` inside of your preprocess function

[code]

[2016-06-07 19:38] reintroducing commented on #6
Yep, thats exactly right.  That being said, your suggestion produces `pattern "./style-guide/info" does not match any file`.

[2016-06-07 19:49] straker commented on #6
Hu, is there a public repo or something I could play with?

[2016-06-07 19:51] reintroducing commented on #6
Unfortunately this is a private repo. Give me a few days and maybe I can put together a sample based on my setup and provide that instead. Is that ok?

[2016-06-07 20:04] straker commented on #6
Cool, thanks for doing that.

[2016-06-07 23:14] reintroducing commented on #6
Ok, I got a few minutes here to put something together sooner than I thought.

https://www.dropbox.com/s/fl0mrgomvnlqaqc/livingcss-test.zip?dl=0

Just download, cd in, `npm i`, and then `npm start` (which will open the index file of the actual project, you can just ignore it). That will generate `/style-guide` and `/css/main.css` and you can then see nothing is being put in the user styles in `/st

[2016-06-08 02:34] straker commented on #6
Ok, I think I've got things figured out.

For reference, here is your code as saved in the link you gave me. I've annotated with comments the changes:

[code]

1. you pass the output directory of the style guide (`/style-guide/info`) as the `cssFilePath` parameter. You probably meant to pass the path to the css file (`css/main.css`). Since the gulpfile is running from the root of your app, you don

[2016-06-08 13:07] reintroducing commented on #6
@straker Thanks for taking a look at this. I set up the config as you specified and got rid of the errors.  I see that some of my styles are working now, however, if you look at the headings, they've inherited their margins but not the actual font/colors they're supposed to be, for instance (Before doing this, you'll have to change the className portion in `/sass/common/_typography.scss` to be cla

[2016-06-11 15:49] reintroducing commented on #6
@straker Hey, don't mean to be a bother but was just wondering if you had a chance to look at this?

[2016-06-11 16:52] straker commented on #6
Ya sorry, I've been looking into this and it's lead down a rabbit hole of problems. I've been spending the last few days trying different solutions which all failed, so I'm back at the drawing board.

As for your specific problem, due to web components, the `html` and `body` selectors in your CSS don't get applied to the contents of the web component. This is a similar problem that the [SC5 Style

[2016-06-11 17:49] reintroducing commented on #6
I see. I'm actually thinking the other way. I ultimately will want my style guide to have the same styles (for the most part) as my component styles because my generated Sass spits out one file which is the source of truth for the styling for my whole project. Ultimately I'd want the SG to be in the same style as the project for consistency.

I created a style guide manually before for my day job

[2016-06-11 18:59] straker commented on #6
Yep, LivingCSS does support passing in you're own Handlebars template with the `template` option. Having a custom template was one of the contributing factors in creating this project (since a lot of style guide generators don't allow that).

[2016-06-11 21:32] reintroducing commented on #6
That's great. So, I know you've probably been thinking about this the past few days, but just wanted to gauge where you're at in terms of how you're planning to proceed.  I can stop working on my SG (which I'm doing right now anyway because I have a ton of other stuff to do) until you figure out how you're going to move forward with the rendering issues discussed here if you think you're going to

[2016-06-11 23:37] straker commented on #6
If you create you're own template and just load the one CSS file to control the look, that part should be fine. That's exactly what https://familysearch.org/reference/styleguide/ does. Anything I change will just affect the default template and getting it working. As of right now, I don't have a good idea of when things will get implemented since everything I've looked into has hit a dead end.

[2016-06-12 00:08] reintroducing commented on #6
Gotcha, thanks for everything in this issue. I'm going to go ahead and close it as the original issue has been resolved and at this point we're discussing the future of the project.  Thanks again.

[2016-06-14 00:00] lisadlh opened #7 "Example of pages"
I love using this to create a styleguide, but haven't been able to consistently create pages based on the documentation. Could you please add an example showing how to create several styleguide pages?
Thanks!

[2016-06-14 04:24] straker commented on #7
Can do, will get it into the next release.

[2016-06-14 08:02] straker commented on #6
Just thought you'd like to know that I just put in a [pr](8) that will resolve both the `body` and `html` tag issue, as well as fix the problems I ran into with safari and firefox.

[2016-06-14 08:06] straker commented on #7
Does [this stylesheet](https://github.com/straker/livingcss/blob/8a7c716abc4c54dc00c10d35db49cd4429a5f97b/examples/multiple-pages/styles.css) help you better understand how to achieve multiple pages in the style guide?

[2016-06-14 09:50] epka commented on #7
I have also had trouble generating pages.
I have setup with three pages (each with sections and subsections). I have defined @page tag in stylesheet with the first occurrence of section tag (example:
@section Buttons
@page components

Running my gold script runs through, but after finishing throws this stream.push error:
('...' represents part of path to project folder)

[12:04:16] Finished 'relea

[2016-06-14 14:51] reintroducing commented on #6
Thanks, I will take a look next chance I get.

[2016-06-14 14:57] lisadlh commented on #7
Hi, the example definitely helped understand the syntax. The documentation has "+" at the line starts instead of '*' which caused some confusion.

 `+` Section belonging to a page.
 `*`
 `+` @section Section Name
 `+` @page Page Name
 `*/`

However, I am also getting stream.push() after EOF errors when testing with you example, but only get one page written out (typography.html) even after repeate

[2016-06-14 15:15] straker commented on #7
If you are see `+` symbols, those are inserted by git to show changed lines. If you copied the `+` symbols into your code, that will throw the errors. Instead, you should look at the raw version here https://raw.githubusercontent.com/straker/livingcss/8a7c716abc4c54dc00c10d35db49cd4429a5f97b/examples/multiple-pages/styles.css

@epka did you also try to use my example with the `+` symbols?

[2016-06-14 15:20] lisadlh commented on #7
I used your raw version to test locally to make sure there were no typos.

The '+' instead of '@' I got from the main page: https://github.com/straker/livingcss

[2016-06-14 15:22] straker commented on #7
Holy crap, I didn't even know the main page had those `+`'s! I'll get those fixed ASAP, no wonder everyone's having problems. I'm sorry.

[2016-06-14 15:31] straker commented on #7
Ok, fixed the docs

[2016-06-14 15:48] epka commented on #7
Hi, I didn't have +'s on start of line.
I have:
[code]

And to clarify, I get that EOF error in every run.
I'm clueless why, and it seems plain weird:
(so I have three pages defined: components, elements and modules.
On first run, it creates components and fails,
On second it creates elements and fails,
On third it creates modules and fail

I cannot test now if it touches already created files on

[2016-06-14 16:05] straker commented on #7
Ok, I just noticed that you're using the gulp-livingcss, so I'll have to investigate why that one's having issues with multiple pages.

[2016-06-14 16:06] lisadlh commented on #7
Great, thanks! Let me know if you have any questions about my set up.

[2016-06-15 03:19] straker commented on #7
Alright, latest gulp-livingcss should fix this issue.

[2016-06-15 08:25] epka commented on #7
Cool. Seems to work now.
Thanks !

This whole LivingCSS is really cool package. So happy came across it, I have been looking for Styleguide engine that's versatile enough for a while.

[2016-06-15 08:37] epka opened #9 "Template relinking leavers partials behind"
One minor niggle I found out, you might want to fix at some point (not critical), or if someone else needs this.

When using options.template, the template.hbs relinks ok, but partials stay linked to livingCSS/template directory.
It's a minor hassle, but e.g. for me, the need to relink template comes from need to keep all source files (including templates) in one location.

I fixed this now on my

[2016-06-15 15:55] straker commented on #9
When you say relink, do you mean you have your own directory structure that you want the partials loaded from? So you're structure looks something like this:

[code]

And you want your template and partials to load from there?

[2016-06-15 16:27] epka commented on #9
Exactly.

[2016-06-15 17:25] straker commented on #9
In the `preprocess` option you can load your partials from your own directory and override the ones in the default partials directory.

[code]

[2016-06-15 17:45] epka commented on #9
Ok. I thought that I missed something obvious.

[2016-06-15 19:18] lisadlh opened #10 "sortOrder fails on page name arrays and section order is case sensitive"
Now that I've got pages generated (thank you!), I am fine tuning my page order and section order within pages.

The first issue I found was that arrays are not handled in this case:

    // their sections
    ['organisms', 'templates']

Arrays are not handled in utils.generateSortOrder, only strings and objects. I added this at line 53 of utils.js so I could keep moving forward on my project:

[2016-06-15 20:09] straker commented on #10
I'll take a look at this tonight

[2016-06-15 20:11] lisadlh commented on #10
Thank you! But like I said, there are easy work-arounds for the issues I found, so this is not a high priority at all.

[2016-06-16 04:47] straker commented on #10
Does [this branch](https://github.com/straker/livingcss/tree/fixSortOrder) fix your issue?

[2016-06-16 14:09] lisadlh commented on #10
It does! I tested with all lower case, and a mix of objects and arrays, and everything came out as expected and with no errors. Thanks for fixing this so quickly.

[2016-06-16 15:08] #10 closed

[2016-06-29 09:36] epka opened #12 "Custom Tag comments won't get Markdown formatting"
Yet another problem I have been struggling with. Issue or by purpose ? Or am I trying to misuse the tags system ?
Anyway. Section description gets nicely formatted in Markdown. However, text that is following a custom tag won't get formatted.

So, I have:
[code]

I think the issue is that block.description gets passed to marked (in tags.js) while tag.description in parseComments.js won't.

I can p

[2016-06-29 16:48] straker commented on #12
Unfortunately, always passing the description of a tag to markdown would result in every description being wrapped in a `<p>` tag (since a single line of text with no formatting is always wrapped in a `<p>` tag in markdown). This would be less than ideal for most uses of a tags description.

The best I can think of is to create a custom tag just to parse the description as markdown. It's still les

[2016-06-30 04:52] #5 closed

[2016-06-30 04:52] #9 closed

[2016-06-30 04:54] straker commented on #6
Just thought you'd like to know that with v4.0.0, I've fixed the `body` and `html` tags and they should now apply their styles and cascade to the examples as expected.

[2016-06-30 05:03] straker commented on #5
I added an [example](https://github.com/straker/livingcss/tree/master/examples/preprocessor) for future reference.

[2016-06-30 09:41] epka commented on #12
Oh yeah. I see how that would make the tags less flexible.
I was thinking too short-sighted to use tags only to structure style guide content.

How about using similar styling parameter as there is for code -tag?
E.g. ` * @example {javascript}`

so having
`* @somerandotag {markdown} ` would instruct that tag description is meant to be formatted.

[2016-06-30 14:18] reintroducing commented on #6
Awesome, thanks! I have not had a chance to get back to working on the SG for my project but plan to come back to it soon.

[2016-06-30 16:42] straker commented on #12
I like it. I'll look into getting that added this week.

[2016-07-02 04:53] #12 closed

[2016-07-13 11:02] epka commented on #7
Hi
Just been able to get back to this to test {markdown} (works nicely!)

However, after updating to gulp-livingcss 2.0.2 this same (above) error resurfaced. 2.0.1. seems to work ok though ??

[2016-07-14 02:42] straker commented on #7
So i'm testing this and I can't reproduce the error with this file:

[code]

The gulp task completes and outputs 2 pages as expected.

[2016-07-14 05:35] epka commented on #7
Hmmm....ok.
Thanks for looking this up.
Then it's probably my file or setup. Have to dig deeper. Are the newest versions released through npm?

I'm also doing preprocess sorting of pages:
`sortOrder: [
		['index', 'components', 'elements', 'modules']
	]`

[2016-07-18 07:42] melonHuang opened #15 "wrong import path in Windows"
The import path in Windows uses backslash, which results in the following error.

![example](http://p8.qhimg.com/t010a29060021b551b8.png)

[2016-07-18 16:16] straker commented on #15
What version of livingcss are you using?

[2016-07-25 01:30] reintroducing commented on #6
Alright, I'm finally now getting back to this. I've changed nothing since we last spoke in my setup except I updated to v2.0.2 of gulp-livingcss.  That now produces the following and I get no output:
[code]

Any ideas?

[2016-07-25 03:02] straker commented on #6
Seems it a bug that's hard to squash... I'll see if I can track it down.

[2016-07-25 18:35] #6 closed

[2016-07-25 18:37] straker commented on #6
Alright, 2.0.3 should fix the problem.

[2016-07-25 18:38] straker commented on #7
@epka any luck figuring out what was going on? (And yes, npm versions are up-to-date)

[2016-07-25 18:38] straker commented on #15
Closing due to inactivity. v4.0 should fix this for you.

[2016-07-25 18:38] #15 closed

[2016-07-25 18:54] epka commented on #7
Hi, thanks for following up.
Unfortunately not. Had to do some firefighting in another project, so this has been on hold. I'm resuming work on style guide next week, starting to try sort this out. I'll report back if or when I get it rollllng again 😁

[2016-07-25 23:06] IanMuirhead opened #16 "Question: Using Custom Tags"
Quick question regarding Custom Tags.

I'm attempting to create an accordion navigation for the sections.  Ideally the @page would be the parent level of the @section.

Any ideas or direction you could send me in?

cheers

[2016-07-25 23:36] straker commented on #16
I don't know if you can do it without a custom template, but something like this might work:

[code]

[2016-07-25 23:46] IanMuirhead commented on #16
I'm in the midst of integrating it into a Material Design Lite custom template - so I'm already headed down that route.  Attempting to not go too far off the functionality so I can keep up to date.

What you provided is pretty close - a couple of changes were needed.

`            <ul class="nav" id="nav" role="tablist">
            {{#pages}}
              <li class="nav__item">
                <

[2016-07-25 23:59] IanMuirhead commented on #16
Working now.

`
<ul class="nav" id="nav" role="tablist">
            {{#pages}}
              <li class="nav__item">
                <a href="{{name}}.html" class="nav__link">{{name}}</a>

                <ul class="nav inner-nav">
                {{#sections}}
                  <li class="nav__item">
                    <a href="{{../name}}.html#{{id}}" class="nav__link">{{name}}</a>

[2016-07-26 00:03] #16 closed

[2016-07-26 16:51] IanMuirhead commented on #16
Thought I would give a final update as I ran into a couple other issues.

[code]

I needed to add the handlebar helper - toLowerCase and remove spaces and replace with '-'

In my pre-process I've added:

[code]

[2016-07-28 12:32] reintroducing commented on #6
Alright, so that fixed the issue, but I'm not seeing anything being put in user styles again.  This is my task just as a refresher:
[code]
This outputs nothing in the user styles section of index.html and the CSS path resolves to `../../css/main.css` which is correct from its location. What has changed and what do I need to update?

[2016-07-28 12:36] reintroducing commented on #6
Ah, pushing to globalStylesheets instead works :)  That was the thought process here, correct? If so, then this works great now.

[2016-07-28 13:00] reintroducing opened #17 "Overriding default styles from template"
So I want to retain most everything in the default template except the `mainStylesheet` partial (as it resets some of my global styles which I'd rather not do). In fact, I'd argue that only what is in that partial should be namespaced with .livingcss and anything that could possibly be global not include which would make this even easier, but alas.

What is the best way to replace only this portio

[2016-07-28 17:51] straker commented on #6
Awesome, glad it works.

[2016-07-28 17:59] straker commented on #17
You can create your own mainStylesheet partial and use it, which will override mine.

[code]

I'm not sure what you're asking in the first part of your issue. Are you saying that the `html`, `body`, headings, and paragraph tag declarations also be namespaced with `livingcss` so that it won't override your examples? Because if those styles are overriding your examples that is a problem and I should

[2016-07-28 19:11] reintroducing commented on #17
Yep, that's exactly what is happening. Because those tags are inline in the page I think they take specificity over whats in my stylesheet.  And your solution above would work but the problem is that I then lose any updates you make to mainStylesheet.hbs in the future to the namespaced classes as well so I'd have to keep that updated manually.

I would either remove the global styles you're settin

[2016-07-28 19:28] straker commented on #17
I'll look into it. Thanks for bringing it up.

[2016-08-02 13:36] reintroducing commented on #17
Just wanted to follow up and see if you had a chance to make any headway into this? Is there anything I can do to help?

[2016-08-02 19:37] straker commented on #17
I've had some time to look into it, but haven't figured out the best way to ensure no style penetration to web components just yet.

[2016-08-03 02:56] straker commented on #7
I'll close for now. If you find anything wrong with livingcss, go ahead create a new issue.

[2016-08-03 02:56] #7 closed

[2016-08-06 07:51] straker commented on #17
Alright, I think I have something. Would you mind pulling the branch `preventCascade` and testing the output to see if the template still looks correct and that the styles don't cascade the examples?

[2016-08-06 12:16] reintroducing commented on #17
Hmm, I've been using this through gulp-livingcss so not exactly sure how to use a branch of a dependency :\

[2016-08-09 23:16] reintroducing commented on #17
I'm going to close this since we discussed this in the thread of your branch.

[2016-08-09 23:16] #17 closed

[2016-08-12 14:13] IORoot opened #19 "Issues with Shadow DOM?"
Hi there,
So, I've been using your livingcss (which is awesome BTW) and it's been working locally without a hitch, but I've started trying to run it on my server and the livingcss gulp process doesn't seem to be working quite right...
I've stripped everything down to a single livingcss comment block and the gulp process only has a src > livingcss > destination, but still things are not as they sho

[2016-08-12 16:30] straker commented on #19
I decided to use shady DOM because shadow DOM isn't supported in FireFox, Safari, and IE/Edge. So to get a cross browser experience, using shady DOM will reveal problems in Chrome that might get ignored in the other browsers if shadow DOM was on.

As for the styling issues, I'm not sure what would be going on. The local file should still be using shady DOM and have all the comments at the top of t

[2016-08-12 16:46] IORoot commented on #19
Hmm, it's very strange. I'm starting to look into the possibility that it could be that multiple local versions of gulp are installed around the server and that there is some global/local caching cross over mix going on with the plugin... However, that's just a hunch.

I've installed it twice from scratch on my local machine and only the original seems to work properly so far. I'm trying to discer

[2016-08-12 16:52] straker commented on #19
So there does seem to be a bug in the web component that prevents styling correctly. Every element in the example should have the class `livingcss-example` appended to it, but for some reason your inner `rk-swatch-col` div doesn't. I'll take a look and see what happened.

[2016-08-12 16:58] IORoot commented on #19
Much appreciated, thanks!
Now you've mentioned it, I've just checked the page code and it seems that class reference in the CSS is missing the dot.

[code]

[2016-08-17 02:28] straker commented on #19
That is actually correct. The polymer element is called `livingcss-example`, so I'm able to style it directly as an element selector.

[2016-08-20 05:02] #19 closed

[2016-09-02 16:37] kirkhoff opened #21 "When stylesheets are parsed, CSS child combinators are ignored"
I noticed that when a stylesheet implements something like:

[code]

`.bar` will always be blue, because .bar is treated as a separate selector without the child combinator before it.

To get around this I have a task to remove all child combinators in the stylesheet that's used with livingcss. This isn't ideal since it wouldn't cover cases where the styling should only affect immediate children o

[2016-09-03 05:39] straker commented on #21
Hu, that is definitely strange. I'm going to go with something on Polymer's end since livingcss shouldn't be messing with the creation of the style tag that the web component uses. I use a [handlebars template](https://github.com/straker/livingcss/blob/master/template/partials/polymer.hbs#L7676-L7698) to load the web component, which uses a [style include](https://www.polymer-project.org/1.0/docs/

[2016-10-13 02:29] straker commented on #21
I'm going to close this. If you feel that it's still an issue with this codebase, we can reopen it and look into it further.

[2016-10-13 02:29] #21 closed

[2016-10-27 22:57] lancetharper opened #24 "Question: output only JSON?"
I'm piggy backing off of the generated JSON to create snippets for various editors for a team to use.

I'm using gulp-livingcss and wondered if there was a way to get just the JSON for the sections returned that I could then pipe into something else to generate the snippets. I'm currently just grabbing the `context.sections` from `preprocess` and saving it out to a file, but I'd rather not have th

[2016-10-28 02:06] straker commented on #24
So if I understand correctly you're looking to do something like this?

[code]

[2016-10-28 02:08] lancetharper commented on #24
Yes, this exactly.

[2016-10-28 02:10] straker commented on #24
Currently there is no way to do this. The current script returns a steam of html files so you can set the `gulp.dest` on them. I can look into setting an option in gulp to return a stream of JSON instead.

[2016-10-28 02:19] lancetharper commented on #24
That would be amazing! I just saw in the docs that it mentioned generating a JSON object and wanted to make sure I wasn't missing some obvious way of getting to it without having to save it out to a file like I currently am.

[2017-01-18 08:45] Kamilius opened #25 "Question: livingcss usage with Webpack"
Hi,
if you have an experience with making livingcss work alongside webpack, could you help me providing a simple example of how this can be achieved?

[2017-01-18 10:21] Kamilius opened #26 ".livingcss-example min-width causing block to overflow"
`.livingcss-example` element for me is having `1100px`. I don't know where this value came from yet, but it is causing this block to overflow parent container. When I'm turning it off in dev tools, everything's perfectly fine.

Here's how it looks for me:
<img width="1092" alt="screen shot 2017-01-18 at 11 27 09 am" src="https://cloud.githubusercontent.com/assets/3115794/22060203/8aefda4e-dd78-11e

[2017-01-18 13:15] #25 closed

[2017-01-19 05:50] straker commented on #26
Interesting. I can't see this same behavior on my end. Do you have an example site I could look at to see what might be causing it?

[2017-01-19 06:02] straker commented on #24
So sorry it's taken me so long to get back to this. I got really busy and kinda lost track of this. I just wanted to verify some requirements before I implemented the request just to make sure it makes sense.

So I can add an option to return just the context, but since gulp works with streams of files the returned stream would be JSON files that contain the context object, one for each page. Woul

[2017-01-19 16:55] lancetharper commented on #24
It probably would be, I'd just need to rework my own gulp plugins. The way I'm doing it was working for me and I haven't had to update it yet (also haven't been working on it for a few months) so I'm not sure when I'd be circling back around to revisit this in my own project.

If it's easy to implement or you see some added value to it beyond my request; feel free to do it that way. But I wouldn't

[2017-01-20 05:20] Kamilius commented on #26
@straker hi, sadly - no. It's local page. It appeared from a very beginning, when I just installed `livingcss` and provided comments for first `button` element.
Fixed this by overriding `min-width` with following:
[code]

[2017-01-24 10:12] Kamilius commented on #26
Closing because workaround found and also lacking of a public page to demonstrate a bug.

[2017-01-24 10:12] #26 closed

[2017-01-24 10:27] Kamilius opened #27 "One of classes from app stylesheet not available in example"
I'm generating `app.css` from an application `*.scss` structure. Class `.text-bold` is being properly preprocessed into a final `app.css` file. But when I try to apply this class to an example, styles are not being applied. Fun thing, is that applying next class `.text-italic` which is in a same file and right after `.text-bold`, styles are applied properly.

After briefly checking `livingcss` cod

[2017-01-25 06:59] Kamilius opened #28 "Generated <h1> font-family differs from rendered on a page"
The generated from SASS to CSS styles for `h1` are as follows:
[code]
But on a page, in styles section of devtools, font-family looks like this:
[code]

Is there any legit way to include custom font files into styleguide? (Your default template is taken as base).

[2017-01-25 08:09] straker commented on #27
So I'm not able to reproduce this on my end with a test case. I created a single file `main.scss` and added just the text bold selector as you've given it to me. I then used your node script to generate the style guide and I get the correct output.

![image](https://cloud.githubusercontent.com/assets/2433219/22282593/aa75b54c-e29a-11e6-91db-4109402b366f.png)

main.scss
[code]

node script
[code]

[2017-01-25 08:28] straker commented on #28
Thanks for the bug. v4.1.4 should fix the issue with the `&quot;`

[2017-01-25 08:28] #28 closed

[2017-01-25 08:28] straker commented on #27
I'm also seeing `body` and `html` styles correctly being applied to the examples

[2017-01-25 10:25] Kamilius commented on #27
The main thing here, is that it doesn't apply a whole generated file to example, but only classes it chooses by some weird method. Trying to find a relation between'em, but only similarity seems to be in a duplication through multiple "import" usage in different files. But this works for ones and doesn't work for others. Still investigating.

[2017-01-25 11:10] Kamilius commented on #27
@straker your new release (4.1.4) actually fixed both of reported issues. So I'm closing this one. Thanks for help.

[2017-01-25 11:10] #27 closed

[2017-01-25 15:21] straker commented on #27
Awesome, glad it worked out.

[2017-01-27 15:27] Kamilius opened #29 "Using same parent section in two separate files"
I'm having a section Notifications and Form elements in my styleguide, with two subsections "alerts" and "form controls".  Both are split into two separate files. In order of appearance, `@section 1. Notifications and Form elements` is defined inside `form controls` file. Is there any way of using `@sectionof 1. Notifications and Form elements` inside "alerts" file? Currently I'm getting `Referenc

[2017-01-27 20:31] straker commented on #29
Yes it is possible, and my guess is that it's just a race condition in how your code is getting parsed. If the alerts file is parsed first and tries to use a section that hasn't been defined yet (because the form controls file creates the definition), then what you'll need to do is specify the order of parsing in your glob selector of `livingcss`.

[code]

If the ordering of the sections is then d

[2017-01-27 20:33] straker commented on #29
Here is the entire livingcss call I make to parse the [FamilySearch styleguide](https://familysearch.org/reference/styleguide/) css (using the gulp plugin). It has some inter dependencies of definitions.

[code]

[2017-01-27 20:34] straker commented on #29
Sorry, wrong button click...

[2017-01-30 09:25] Kamilius commented on #29
After using this method (first - file which declares parent section, then which uses it, and then specifying the rest of stylesheets), got an error:
`SyntaxError: section '1.1 Notifications' has already been declared within the section '1. Notifications and Form elements'`

Looks like it's parsing specified files, and then tries to parse'em again but within `**/*.scss` glob.

[2017-01-30 21:41] straker commented on #29
So this is how I'm doing it for the familysearch styleguide (I'm using colors here with a custom tag function, but the concept is the same as @section and @sectionof):

https://github.com/fs-webdev/fs-styles/blob/master/assets/css/helpers/_variables.styl#L192-L200

[code]

So you should declare your sections first, so that they are there when you want to do @sectionof, then use @sectionof to link

[2017-01-31 09:00] Kamilius commented on #29
In my case, only specifying an exclude glob helped:
[code]

This ensures `alert.scss` and `formControls.scss` are being parsed only once.

[2017-02-02 06:47] Kamilius commented on #29
I'll be closing this, as a workaround found.

[2017-02-02 06:47] #29 closed

[2017-03-15 15:50] sidraval opened #30 "Order dependence in @section/@sectionof declarations"
Hello,

Currently if a doc comment with, e.g. `@section A` gets parsed before a doc comment with, e.g. `@sectionof A` the styleguide will fail with `ReferenceError: section 'A' is not defined`. Would it be possible to implement a parsing scheme such as:

* Documentation with a single `@section` gets parsed before documentation with any `@sectionof`
* Documentation with a single `@sectionof` gets p

[2017-03-16 05:14] straker commented on #30
Could you provide an example of comment ordering that causes the problem? From what I understood, this is the ordering you described:

[code]

[2017-03-16 06:01] Kamilius commented on #30
@straker I think that's almost the case you've provided. He means, that both of those comments are in different files, and `@sectionof A` document getting parsed prior to `@section A` which causes this error.

@sidraval I've solved it in a following way:
I have a case, when main `@section` is defined inside `input.scss` and `alert.scss`, `validation.scss` are a subsections of this section:
`genera

[2017-03-16 06:44] straker commented on #30
@Kamilius's solution is probably the easiest. If you need to parse your sections in a specific order but display them in a different order, you can use the `sortOrder` option to put them back in the desired order.

Using Kamilius's example:

[code]

[2017-03-16 15:02] sidraval commented on #30
@straker @Kamilius Thanks for the responses! The workaround fits my needs.

I am also interested in not having to maintain the ordering anywhere, hence the suggestion about processing certain doc comments before others. But if that is of limited benefit (or perhaps has an issue I haven't thought about), no worries 👍

Feel free to close at your discretion.

[2017-03-23 07:11] straker commented on #30
After some thought, I decided to implement this feature so you don't have to order your src files in parse order. The display order will still be determined by parse order of the sections and subsections, so you'll still need to use `sortOrder` to adjust that.

[2017-03-24 02:55] #30 closed

[2017-04-04 10:35] kriss145 opened #32 "Tags work"
Hi,

How we can use tags in our styleguide?
In documentation we have examples how generating but I don't see example how to use.

Could you help?

[2017-04-06 08:45] Kamilius opened #33 "sortOrder for child sections"
How to set a sort order for a child sections of a given section? For page, it is obvious from a doc:
[code]

What if I have a few sub-sections: `'2.2 Section C'` and `'2.1 Section Z'`, for `'2. Section B'`. How to sort them?

[2017-04-09 04:59] straker commented on #32
Sorry for the late response, I was at a conference all week.

If I understand the question correctly, you want to know how to use a tag in the handlebars markup that generates the style guide. Is that correct?

If so, let's say your comment looks like this:

[code]

This would generate a context object like so:

[code]

Then in handlebars you would do this:

[code]

[2017-04-09 05:07] straker commented on #33
Sorry for the late response, I was at a conference all week.

I don't believe sorting sub-sections is currently possible other than through making sure they are in the proper order during parsing.

[2017-04-10 06:30] phun-ky opened #34 "Will not process preserved comments"
I'm creating a living styleguide from many stylus files, and each file is documented with JSDoc syntax (I am currently converting from documentcss). The files are preprocessed and bundled into a bundle file containing all relevant documentation. To actually preserve the comments through the preprocessor, I am forced to use exclamation marks to dictate which comments the preprocessor shall not remo

[2017-04-10 09:35] phun-ky commented on #34
Is this something that I've to take up with https://github.com/yavorskiy/comment-parser ?

[2017-04-10 14:04] straker commented on #34
Ya, the comment parsing is done through comment-parser so you'd have to take it up with them.

You could also pass livingcss the stylus files unpreprocessed so the comments wouldn't have the `!`.

[2017-04-11 05:21] Kamilius commented on #33
@straker, ok thanks for now.

[2017-04-11 05:21] #33 closed

[2017-04-12 18:12] sidraval opened #35 "Valid SCSS code blocks are parsed improperly"
Hello again,

I'm using the SCSS syntax highlighting from prism, and the following code block causes livingcss to choke:

[code]

My guess is that the `@extend` is getting registered as a tag by the parser. I'm not sure exactly how to resolve this, since there are not "closing" tags. Perhaps a list of exclusions, or a way to escape tags?

Valid SCSS includes `@include`, `@extend`, `@mixin`, etc.

[2017-04-13 07:37] straker commented on #35
You are correct that the parser is parsing the `@extend` as a tag. There's not really anything I can do to fix it. I'm too tried to come up with a way to break the parser, but I'll look into it tomorrow.

The parser parses a line for tags using this regex: `/^\s*@(\w+)/)`. So any [whitespace characters](https://www.w3schools.com/jsref/jsref_regexp_whitespace.asp) followed by the `@` symbol and tex

[2017-04-14 06:59] #35 closed

[2017-04-14 07:01] straker commented on #35
Alright, I found a way to get this to work around the parser. The solution is to use the HTML entity encoding for the @ symbol `$#64;`.

[code]

[2017-04-14 20:00] kriss145 commented on #32
@straker Thanks! Now I know everything.

[2017-04-14 20:32] straker commented on #32
Awesome. I'll go ahead and add this to the README later tonight so ti's more readily available.

[2017-04-17 05:21] #32 closed

[2017-04-20 07:11] phun-ky commented on #34
I think you are missing the point. For the stylus preprocessor to keep the comments, I have to include the exclamation mark `!`

Will try to use the raw files.

[2017-04-21 17:23] kriss145 opened #39 "LivingCSS in IE11"
Hi,

Livingcss works in the IE11? I asking you beacuse I'm testing now and CSS is not loaded.

Thanks

PS. Could you update gulp-livingcss with the latest livingcss? :)

[2017-04-21 17:30] kriss145 opened #40 "Images are not loaded"
Hi,

I have a one more question

How we can change path to images in the styleguide?
The only way is to use ex. "/path"?

Thanks!

[2017-04-23 05:41] straker commented on #40
I'm not sure I understand the question. LivingCSS doesn't have any images, so are you referring to images in your own stylesheets? Could you provide an example of what you mean?

[2017-04-23 06:15] straker commented on #39
Fixed in v4.2.3

[2017-04-23 06:15] #39 closed

[2017-04-23 06:39] #24 closed

[2017-04-24 06:31] kriss145 commented on #39
Hi,

I used latest gulp-livingcss (he has still livingcss v4.0.0) but I updated livingcss package to v4.2.3
This still dosen't work.

<img width="976" alt="screen" src="https://cloud.githubusercontent.com/assets/3781356/25324806/234e1112-28c8-11e7-8577-d377fd3f4f7c.png">

[2017-04-24 06:46] kriss145 commented on #40
Hi,

I'm using relative path to images in my CSS.
My images are in path "project/tpl/img" and CSS path "project/tpl/css"
Catalog "styleguide" is generated in path "project/"
I'm using now path ex. "../img/file.png"

Now I found a different way. I moved "styleguide" to "tpl" catalog.

Anyway would be great to find solution for this :)

[2017-04-24 07:32] straker commented on #39
Hu, https://straker.github.io/livingcss/ looks like its working in ie11. Are you using a custom template (the 'show code' button is not part of the default template)?

Also, gulp-livingcss is pinned to `^4.0.0` of livingcss, which means you should get the latest 4.x release (in this case 4.2.3). I'm not sure why you wouldn't be on installing gulp-livingcss.

[2017-04-24 12:10] kriss145 commented on #39
Hmm, on your example works. Unfortunately I have still problem in my template.

Do you changed something else besides urls to JS scripts?

[2017-04-24 19:06] sidraval opened #41 "Support for multiple @code, @example tags"
Hello again,

I'm interested in having multiple `@code` and `@example` blocks per section. Right now I'm trying to put both an HTML `@code` and a SCSS `@code` in one section. Support for multiple `@example` blocks would be useful to me as well.

It looks to me as if the comment parser has support for this.

Does this sound like a feature you'd be interested in having in this project? Happy to take

[2017-04-25 01:42] straker commented on #41
I don't see why not. [Custom tags follow that approach](https://github.com/straker/livingcss/blob/master/lib/parseComments.js#L109) already, so having it for `@code` and `@example` makes sense.

If you'd like to submit a PR for it, please feel free. Please make sure the default handlebars template is changed to understand it as well.

[2017-04-25 01:44] straker commented on #39
For the default template, I just [updated the webcomponentjs file](https://github.com/straker/livingcss/commit/4bf798c8e9ce094dd07b82a751dfc89b5d31efd1) to use the version that supports shadow dom

[2017-04-28 11:34] phun-ky commented on #34
Closing this, since using the raw files directly is working for me

[2017-04-28 11:34] #34 closed

[2017-04-28 21:53] Fernker opened #42 "Access to FS custom Handlebar templates?"
Love this framework, been implementing it and love the flexibility of it.

I'm looking at making it a bit tighter as far as the HTML that is served up and I've noticed that in livingcss by default it inlines all the Polymer and included CSS files (including ours).  But when I go to the Family Search style guide (actual served pages) there is no Polymer on it.  Is there any chance of seeing those t

[2017-04-29 22:23] straker commented on #42
I can share the template and the gulpfile from the FamilySearch style guide https://gist.github.com/straker/6cd9923fe1282452f094755fe4be8200

[2017-05-01 19:19] Fernker commented on #42
Awesome thanks for that!

Just out of curiosity, why did FamilySearch decide not to use Polymer when this base app uses it?  (I'm trying to weigh the pros and cons of using Polymer for our style guide).

[2017-05-01 19:30] straker commented on #42
The FS style guide has complete control over the layout, so it can use all the FS styles without clashing. I created both and I used Polymer in the generic output as it would guarantee that using Shadow DOM would prevent the user stylesheet from overriding global styles in the style guide, causing layout bugs.

[2017-05-01 19:38] #42 closed

[2017-05-02 05:58] straker commented on #42
In terms of whether or not to use Polymer (or custom elements), I think there are great pros in that for a style guide. Take for example the complex code needed to use the [Person styles from the FS style guide](https://familysearch.org/frontier/styleguide/#persons). There is a lot of DOM elements that require specific ordering and classes. And it has a lot of variations that get even more complex

[2017-05-02 16:29] Fernker commented on #42
Oh is FamilySearch using Polymer in the actual FamilySearch app?  I haven't looked at the source code there recently.  Or are you using some other framework variation of web components?

[2017-05-02 21:25] phun-ky opened #43 "Feature request: Markdown files?"
First of all, great package! Work like a charm!

However, there is a feature I really miss, and that is to be able to use markdown files for the documentation. This because the inline documentation with comments  in the css files (or stylus/less what not) can be quite tedious to maintain, remembering to use the `*` and the correct indendation and no autocomplete/syntax highlightning in the comment

[2017-05-04 01:59] straker commented on #43
I'm a bit unfamiliar with separate markdown documentation. I know [Styledown](https://github.com/styledown/styledown/blob/master/docs/Format.md) has the option to. Is that along the lines you were thinking?

I guessing to implement it we would need some sort of tag parsing for the `.md` file just like we have for the inline `.css` comments. I can take a look around to see if anyone has already cre

[2017-05-04 05:52] phun-ky commented on #43
Yeah, Styledown has a nice approach to this. The `*.md`-file feature is not a deal-breaker for us to use livingcss, but would ease the documentation management pain

[2017-05-04 17:48] brandonreid opened #44 "Looping Custom Tags?"
I'm able to make a custom tag easy enough following the [documentation provided](https://github.com/straker/livingcss#custom-tags), but what I'd like to do when documenting colors, icons and other repeatable stuff, is create a custom tag that I can loop through in the template.

So ideally my styles file would look something like...
[code]

Then in a template I'd want to...
[code]

Is this possibl

[2017-05-05 03:31] straker commented on #44
Yep, multiple custom tags will be added as an array in the JSON context object.

[2017-05-05 06:51] straker commented on #43
So looking over Styledown's docs, it seems they use the md files to generate sections via headings, subsections using nested headings, section descriptions, and examples. They use one file to do all of that though.

Could you provide an example of the documentation management pain you're feeling? Maybe a detailed example on how the `@doc` rule would solve it? That should help me fully understand t

[2017-05-05 07:00] #44 closed

[2017-05-08 07:52] phun-ky commented on #43
@straker I just sent you an email with an example

[2017-05-09 04:30] straker commented on #43
Amazing. I never would have thought to do it that way. Ya, an `@doc` would make that much easier. So it looks like if the separate file allowed you to write the description block of a section that would ease 90% of your pain. I'm not sure how easy it would be to get code and examples as well into the doc file, but I'll see what I can do.

[2017-05-16 06:43] #43 closed

[2017-05-16 06:45] straker commented on #43
Released in 4.3.0

[2017-05-18 07:29] phun-ky commented on #43
Nice! Good work!

Trying it out now, but I ran into an issue. Where is the `*.md`-files ment to be located? I have n+1 repositories containing stylus files (components). These components are installed into a "styleguide" repo that is the styleguide itself. I use `gulp-livingcss` and I include the styles files per module like so:

    return gulp.src([
      './node_modules/<a module>/src/<a module

[2017-05-20 12:10] #40 closed

[2017-06-07 11:40] phun-ky commented on #43
Any progress here? I still can't get the `@doc` tag to work

[2017-06-07 12:11] phun-ky commented on #43
Hm, if I go into the `wax-core` project and use a `gulp-livingcss`-task there, I get the warning and also the @doc tag works after tweaks from the warning. Weird.

[2017-06-07 12:15] phun-ky commented on #43
If my assumption is correct, the doc referred to with the `@doc`-tag is supposed to be relative to the stylus file parsed, not the gulpfile.. :man_facepalming:

[2017-06-07 13:46] straker commented on #43
Glad you got it working. Is the feature meeting your needs?

[2017-06-07 13:48] phun-ky commented on #43
@straker yes! Sorry for the huge load of comments here :man_facepalming:

[2017-06-11 10:46] gavinhewitt opened #46 "Question: why define section at the end instead of before text?"
Expecting to define an @section at the start of a comment section I was quite surprised that this is done at the very end. I was just curious what the reasoning behind this is. Personally I think it would make more sense to define it at the beginning, but maybe there's a good reason for it to do it differently.

I'm talking about:

[code]
vs
[code]

Awesome library btw!!

[2017-06-11 15:11] straker commented on #46
No reason, was just how I saw other comment parsing libraries do it (such as KSS).

[2017-06-12 19:29] #46 closed

[2017-06-13 21:15] sidraval commented on #41
@straker While implementing this, I ran across some issues worth discussing...

The problem is that the current implementation expects at most 1 `@example` and `@code` comment per block. It also expects that if `@code` is not defined in a block, the `@example` should be used for the code (unless, of course, you provide the `@hideCode` comment).

Thus, if we want to interpret something like...
[cod

[2017-06-14 16:35] straker commented on #41
Those are some interesting points.

I wonder if it would work to "name" your code and examples. Right now the template is `@example|code {lang-type} <code>`, the parser could handle the name portion of the comment and we could do `@example|code {lang-type} name <code>`. then you could map examples to code by naming them the same, and they you can put them in any order in the comment.

[code]

Othe

[2017-06-14 16:41] straker commented on #41
Wait, scratch what I just said. Your use use needs 2 `@code`s next to one another. What you need is a 1:many relationship (one example, one HTML code, one SCSS code). Since the example can only be HTML to display it, maybe we only support 1 example (HTML), but multiple codes for that example. That would simplify things quite a bit and I think makes more sense then multiple example (since the only

[2017-08-23 14:48] onceatime commented on #25
@Kamilius we have started today with an webpack implementation as plugin. maybe its interesting for you.

https://github.com/Riodigital-de/livingcss-webpack-plugin

we already got the basics work.
now we need to implement tags and so on but its a start.

to see it in action just clone it and:

for simple example:
[code]

for fs-styles example:
[code]

[2017-08-24 10:45] onceatime commented on #25
FYI today we implemented

- add tags
- read stylesheets
- read globalStylesheets

now we have all base features integrated and the next steps are:

- compilation file paths (copy assets from webpack chunks)
- css file paths (copy assets from webpack chunks)
- create own template (bootstrap)
- extract handlebars binding (make template engine independent)
- add support for other living stypeguide fr

[2017-08-24 13:11] onceatime commented on #25
FYI we renamed the repo to styleguide-webpack-plugin because we plan to integrate other solutions like fabricator for component development.

the fs-style example was removed for the sake of simplicity.

the repo now lives here: https://github.com/Riodigital-de/styleguide-webpack-plugin.

we stop to implement new features now and write docs and some tests.

[2017-08-24 17:53] straker commented on #25
NIce!

[2017-08-29 07:37] Kamilius commented on #25
Nice, thanks @onceatime

[2017-10-16 06:16] airtonix opened #48 "duplicate @section in different @page causes error"
[code]

[code]

Fails with `Components section is already defined`.

[2017-10-16 12:20] airtonix commented on #30
For dudes how have far more complex file structures, I suggest you do the following:

1. control the import of your child sections in `_index.scss` files:

[code]

2. use your `_index.scss` files to include the contents of the folder

[code]

3. in your components, control your breakpoints:

[code]
/**
 * @section core
 */
[code]
livingcss([
  './src/**/_index.scss',
  './src/**/!(_index).scss'
],

[2017-10-16 16:55] straker commented on #48
Good catch. I'll look into this and should have a fix within a few days.

[2017-10-17 05:06] straker commented on #48
So I looked into this and I can't reproduce. Are you using any `@sectionof` tags?

[2017-11-29 18:30] MikeTheReader commented on #41
This is somewhat tangential, but for my own project, there were a bunch of places where I wanted short bits of HTML and the resulting rendered output in a table. This allows me to show small modifications to elements based on class, but I still wanted things broken up. I added two tags, `@exampleRow` and `@tableDescription`. For each `@exampleRow` a new row is added to a table with the HTML for th

[2017-12-15 05:58] straker commented on #48
Closing due to inactivity. If this is still an issue please reopen.

[2017-12-15 05:58] #48 closed

[2018-01-17 20:55] ryanwalters opened #51 "Issue compiling with @doc tag"
First off, great project. Everything has been working great so far, with the one exception that we just ran across.

What we're trying to do is include a markdown file for non-developers to maintain, while leaving the scss files to our devs.

**Version**
[code]

### Example

**File structure**
[code]

**button.scss**
[code]

**button.md**
[code]

**gulpfile.js**
[code]

When running the `guide:bui

[2018-01-18 01:18] straker commented on #51
Thanks for the compliments. Glad you have been enjoying the project.

`@doc` should be supported, so the error is definitely a problem. I'll take a look into this later tonight and see if I can find the issue. Thanks for reporting on it.

[2018-01-20 03:34] straker commented on #51
So I'm not able to reproduce this issue on my end. I can complete the gulp task and output the page.

![image](https://user-images.githubusercontent.com/2433219/35179462-09ea2ae8-fd58-11e7-91f5-04bceb0dbb1b.png)

Does your error message have a stack track to go along with it? Maybe I can look at that line and see what might be causing something.

[2018-01-21 21:40] straker commented on #41
I'm going to close this issue as inactive. Feel free to still create a PR if you find the feature helpful.

[2018-01-21 21:40] #41 closed

[2018-01-22 19:07] ryanwalters commented on #51
Unfortunately, I didn't see a stack trace in the console. Only this (unhelpful) line:

[code]

The only difference I see between your output and ours is that we don't have a real "index" page, since we don't want it to show up in the navigation. Our index.html was manually created and redirects to atoms.html. Any chance that would cause an issue?

[2018-01-23 20:27] ryanwalters commented on #51
I think I figured out what was going on. It looks like [tags.js](https://github.com/straker/livingcss/blob/b651749cdb19af42871c1fb6c554bb810caad79f/lib/tags.js#L303) is blowing up when it tries to read the markdown file because it's looking in the "wrong" location.

It's trying to read `./dist/button.md` rather than `./src/atoms/button.md`. Probably because I'm building the `./dist/compiled.css` b

[2018-01-23 20:27] #51 closed

[2018-01-30 18:41] sprynm opened #52 "Upgrade to Gulp 4"
Looking to see if you are actively upgrading this to Gulp 4.  The current package versions throw warnings and have a few issues that an upgrade fixed.  If not, perhaps I can help as it only took a few changes on my local to get things running again.

[2018-01-31 04:44] straker commented on #52
I haven't been working on upgrading to gulp 4. If you want to submit a pr to do so that would be fantastic.

[2018-02-07 04:29] straker commented on #52
Closed with #53

[2018-02-07 04:29] #52 closed

[2018-02-27 20:07] sprynm opened #55 "User Contributed templates"
As discussed, might be fun to open up a space where people can post their templates, partials, helpers,  or custom tags etc.

[2018-03-15 20:18] sprynm commented on #55
Any more thoughts on this?

[2018-03-16 03:28] straker commented on #55
Sorry, forgot about this. Thanks for the reminder. I created the first page of the wiki. Since only collaborators can edit it I think the best flow would be to create an issue with your desired content to be added to the wiki and then i can move it into it.

I added a template to follow to hopefully keep it somewhat organized.

https://github.com/straker/livingcss/wiki/User-Generated-Content

[2018-03-21 15:35] ryan-perry opened #56 "Ability to have sub sections broken out in pages"
Like others posting, this is a great app.

I'm trying to break out sections into separate pages. So I could have a category but then have sub-categories all be separate pages.

Components /components.html
- Buttons /components-buttons.html
- Banners /components-banners.html

When I try to create pages for the sub sections the components-buttons.html page is blank and since I'm referencing  the sec

[2018-03-22 04:05] straker commented on #56
Could you provide a code example of what you're currently doing? If I understand you correctly, you're trying to do something like this:

[code]

But then have the Buttons and Banners also be linked from the Components page?

[2018-03-22 15:07] ryan-perry commented on #56
That's exactly it.  Essentially I was trying to use the following snippet. The banner and button content is displayed on the Components page while the separate pages are blank. I'm wonder if creating a new tag might work.

[code]

[2018-03-25 19:30] straker commented on #56
Sorry this is taking a bit, I've been trying to get an npm install running on this project but it keeps failing.

What exactly do you want the output to look like? Does the component page just contain links to the other 2 pages or does it contain the entirety of the Buttons and Banner sections (essentially duplicating the section content in both pages)?

[2018-03-26 11:18] ryan-perry commented on #56
No worries. Having the parent category page be a listing page for its child sections and each child section be an individual page would be great. Thanks for investigating.

[2018-03-28 04:40] straker commented on #56
If that's the case, since the logic to create a page is just `name.html`, you could use links in the description.

[code]

[2018-04-12 19:42] sprynm opened #57 "&#64; bug"
When I use something like
[code]
I'm getting this
[code]

Only the first `&#64;` is getting replaced with the @ symbol.

Any ideas?

[2018-04-12 19:48] sprynm opened #58 "Whitespace on tags causing errors"
I get these messages `section 'MySection' is not defined (style.css:68)` If the section name has any white space on the end.

I would do the PR myself but slammed right now.  Would you mind trimming the @section, @sectionof, @doc, and @page tags please?

[2018-04-12 21:16] straker commented on #57
It would seem I forgot to use a global replace for that in the code https://github.com/straker/livingcss/blob/master/lib/tags.js#L261.

If that was changed to a simple regex with a global flag it should fix the problem

[code]

[2018-04-17 03:49] #58 closed

[2018-04-17 03:51] straker commented on #57
fixed in v4.5.1

[2018-04-17 03:51] #57 closed

[2018-04-17 03:52] straker commented on #55
Closing as the structure has been set up

[2018-04-17 03:52] #55 closed

[2018-04-22 21:20] sprynm opened #60 "Description losing markdown"
Hi again.

I'm looking to normalize my comments by explicitly naming sections:
[code]
However this is breaking the markdown parsing for some reason.

I get these outcomes from the following.

## EG1
[code]
Markdown parsed
## EG2
[code]
Description is plain text and requires HTML tags.

## EG3
[code]
Same as above regardless of the line @description

## EG4
[code]
Description is replaced with `[obj

[2018-04-23 05:07] straker commented on #60
So the comment parser only parses text before any tags. Any text after tags will be skipped by the parser.

* EG 1 - My preferred method. I like to also put a blank line between the heading, description, and tags just [for styling purposes](https://github.com/fs-webdev/fs-styles/blob/master/assets/css/elements/_buttons.styl#L50-L106).

[code]

* Eg 2 - This shouldn't work as tags can be multiple l

[2018-04-23 14:15] sprynm commented on #60
I see. So for EG4, I need to push the tag.description.description up a level? Might that be something that Livingcss could do when type is markdown?

[2018-04-23 18:37] sprynm commented on #60
For now, I added this to my custom tags:
[code]

Curious if there is any harm in "marking"  all descriptions or should I be explicit?   For see any problems?

[2018-04-24 02:55] straker commented on #60
Markdown is already a special tag type, so I could probably make it so any tag with only a type of `{markdown}` and no name would just convert it into a DOM string.

As for your custom tag, you only mark the description if it is also of type markdown, so it should be safe. Only problem I can foresee is if someone were to use the description tag without adding the markdown type, no output would be

[2018-04-24 04:53] sprynm commented on #60
it got pretty repetitive adding the type then getting blanks if I forgot one so I just opened the taps. So far, I can't see any downsides.

[2018-04-26 16:54] sprynm opened #61 "clarifcation please"
I'm getting `section X is not defined` errors that I don't completely understand.  (Less errors now that the fields are trim, thank you!)

### fails
[code]
### works
[code]

Why do we have to repeat the section name for it to be available for children?

[2018-04-27 05:00] straker commented on #61
It seems the comment parser treats the first example as having a whitespace before the name. So it's parsed as ` Typography` instead of `Typography`

[2018-04-27 05:45] #60 closed, assigned to nobody

[2018-04-27 05:51] straker commented on #56
Closing due to inactivity. Please reopen if you wish to continue the discussion.

[2018-04-27 05:51] #56 closed

[2018-05-03 19:13] sprynm opened #63 "Ability to create Global collection"
Looking to add metadata to tags for cross app uses.  Specifically, noting the name spaces used across components to detect potential collisions.

The `tags:` function seems to narrow the context to only the current tag.  Any way to elevate information or would I have to extend this in the module?
[code]

[2018-05-05 16:57] sprynm commented on #63
on second thought, I'm going to try doing this in linter for better coverage.

[2018-05-05 16:57] #63 closed

[2018-05-30 08:14] digitalfu opened #64 "Feature idea: namespaces for @examples"
I have a requirement to add a namespace class for the @examples code to be styled correctly.
Best practice debates aside I think this would be a common requirement for existing projects and I would like to contribute it to this project.

I have 2 ideas:

1. Global 'namespace' option that gets copied into each context
2. A new 'namespace' tag that can be applied to individual examples
3. None.

Wha

[2018-05-30 19:37] straker commented on #64
Thanks for wanting to contribute!

So I'm not entirely sure what you mean by namespace class. Could you provide a bit more details? Maybe an example of how the namespace would be used in an example and what you're hoping the end result will look like?

[2018-05-31 02:32] digitalfu commented on #64
Projects (usually SASS) sometimes have a namespace class that needs to be applied to a parent element for the styles to be applied correctly. This can be useful to trump the existing styles of a framework.

e.g.
[code]

I have hacked a custom `polymer.hbs` to place this class on the body of each example using a global option, but I think it would be more flexible to parse as part of the docblock t

[2018-05-31 03:28] straker commented on #64
Ok, that makes sense. You're correct that there's no api right now to add a class to the polymer elements `body` tag and that custom tags can't do it. We'd probably need to add a new options property in the `livingcss` call that allows you to add classnames.

[2018-05-31 03:38] digitalfu commented on #64
👍

[2018-11-29 23:32] aar0nwils0n opened #67 "Error: The partial mainStylesheet could not be found"
I get an error when trying to run a simple javascript file using living css
heres the repo:
https://github.com/aar0nwils0n/livingcss-test
after running ```node index.js``` I get the following error
[code]

macOs 10.13.4
node v 8.12.0

[2019-02-06 07:40] posykrat commented on #67
I get the same error.

[2019-02-06 15:19] straker commented on #67
Sorry for the super late response, I somehow missed this issue when it was opened. I'll take a look into this later today after work.

[2019-02-07 05:50] #67 closed

[2019-02-07 05:51] straker commented on #67
Alright, give the latest a try and reopen the issue if it's still not working.

[2019-02-09 14:41] HamedFathi opened #69 "Support SCSS"
Is it possible to use your library with SCSS files?

[2019-02-10 00:23] straker commented on #69
Yep. Any file that can handle jsdoc like syntax can be used. If you want to load the SCSS file, you'll need to compile it to CSS first. See #5

[2019-02-10 01:00] #69 closed

[2019-02-14 06:32] posykrat commented on #67
Thank you for quickly fixed this issue.

And Sorry for my late reply.

[2019-03-06 11:30] welding11 opened #70 "Questions: Custom template and nav structure"
Hi,

Apologies if this is the wrong place to ask this but I am attempting to implement the style guide myself, which may I add is great so far. I have a couple of questions which I am hoping you can clear up.

1. Creating a custom template appears to be relatively straightforward in that I have to use the template property in the options. I have copied over the templates that are originally used a

[2019-03-06 22:44] straker commented on #70
This is a great place to ask questions.

1. There's no wrong way to go about it, it just depends on what you're trying to do. For example, the FamilySearch Style Guide only uses [a single custom handlebars template](https://gist.github.com/straker/6cd9923fe1282452f094755fe4be8200) and just loads the styleguide css in the main page.

2. It's been awhile for me, so I'm not sure off the top of my hea

[2019-03-07 01:01] welding11 commented on #70
I see, I have gone over the template again with some new found knowledge of the syntax and it all makes a lot more sense now. I didn't realise at first how the js/css was being inserted into the page with the use of partials. I can see how I can replace it all now.

As for the second part, I get what you are getting at and it could possibly work. What I had in mind was something like that but with

[2019-03-26 11:13] phun-ky opened #71 "Every section a page?"
## Styleguide is slow and unresponsive with large styleguides

I'm currently experiencing that the generated styleguide is slow and sometimes unresponsive, especially at load. This makes it hard to use direct linking to sections.. Perhaps due to many examples and lots of components. I've split up the top sections into pages to test it out, but it hasn't improved as much as I'd like, so I was wonde

[2019-03-26 16:09] straker commented on #71
I wonder if it has something to do with the fact that the code still uses Polymer 1 and polyfills for v0 custom elements. I could try to look to see if that could be improved for performance of large styleguides.

If you don't use `@sectionof` does that let you make each section it's own page?

[2019-03-26 20:06] phun-ky commented on #71
Yeah, removing polyfills and polymer 1 in advantage for polymer 3 or usage of another app that has scoping, will help.

I can do that yes (have to manually edit 100 lines though), but I will then have no hierarchy and no menu :( (or?)

[2019-03-26 20:37] phun-ky commented on #71
The best way would be if I could keep the `@section` and `@sectionof` parts, use `@page` when I want a page, and still keep the menu and hierarchy. And the files could be named with the same naming convention: instead of `#guidelines-components-modal` -> `guidelines-components-modal.html`, when we're linking to a page

[2019-03-27 08:11] phun-ky commented on #71
Another thing I've noticed is that the `options.loadcss`-option is not working as intended. From the code, it will load:

[code]

The source from the parsed css, but I have no such `<link>`'s in my generated styleguide. My css is looks like it's currently inline in the `<body>`-section , right after the polymer stuff.

The css is also not deduplicated. For example, all my components require `core.

[2019-03-28 05:03] straker commented on #71
How interesting. That's a lot of things going on. I can see why there's massive scale problems with the library. Splitting up everything into its own page seems like it would help.

I'll look into what it would take to make everything it's own page, as well as improve the performance at scale.

[2019-03-28 07:40] phun-ky commented on #71
Just ping me if you want to check out the repository

[2019-04-22 21:02] brandonreid opened #72 "Style tags breaking examples."
I spent some time updating our version of livingcss, took quite a long time to figure out why the examples weren't rendering with the styles. Turns out it was because I had style tags in some of the examples.

[code]

Maybe this should just be documented, maybe an error should be thrown or maybe style tags should be supported (they can be pretty handy sometimes, but there are other ways to achieve

[2019-04-23 04:06] straker commented on #72
Hu, I would have figured that would work. I'll have to look into why that is the case

[2019-05-05 21:48] straker commented on #72
So I looked into it and style tags are supported. The issue is that Polymer adds an extra style scope to the examples so the styles don't leak into our out of the element. To fix this, you'll ether need to double up on the selector to increase the specificity, or add `!important` to override anything:

[code]

[2019-05-21 20:37] brandonreid commented on #72
Huh, it must have just been an issue with my particular setup. For me it wasn't that the styles in the style tag weren't applying, but the presence of the tag was actually breaking other stuff.

Thanks for looking into it @straker !

[2019-05-21 20:37] #72 closed

[2019-06-26 13:05] phun-ky commented on #71
Any progress on this?

[2019-06-26 14:59] straker commented on #71
Sorry, I've been so busy lately I completely forgot about this. Thanks for the reminder. I'll schedule some time to look into this.

I did do some initial looking into improving performance by upgrading the Polymer library, but wasn't able to find anything that looked Promising. The new version of Polymer requires a build step using their specific tooling to generate the web component output, so t

[2019-07-11 17:11] brandonreid opened #74 "Using @ symbol in <pre> code snippets."
Is there an alternative way to display an `@` symbol in documentation text?

In a piece of documentation outside of a typical `@example`, I'm trying to demonstrate how to use a particular sass mixin, like:
[code]
But the use of the `@` here breaks the output.

Thanks in advance!

[2019-07-11 19:27] straker commented on #74
Does it work if you use the HTML entity `&#64;` instead of `@`? The problem is all the `@` are handled by the tag parser so it's the one that's treating it as a tag. If it doesn't work, I'll have to create a fix that handles it similar to uses in `@code` by replacing the HTML entity with the actual `@`.

[2019-07-11 20:24] brandonreid commented on #74
Actually I got it with `＠` (which I got from the apple emoji selector, haha). I believe the html entity would be shown as is in the `<pre>` tag. I just made a note about not copy/pasting that specific character.

[2019-07-11 20:24] #74 closed

[2019-07-29 07:05] straker commented on #71
Alright, so I've got this working (I think), but would like your opinion on something. Now that each section is its own page, I've kept the page links at the top for primary pages, and then each primary section within the page is now it's own page. However, this leaves the primary page links without any content.

So for example, if I had 2 pages `typography` and `buttons`, and each page had a few

[2019-08-05 05:26] phun-ky commented on #71
Hi! Back from the summer holiday @straker , let's see. What I have done is to manually create an index.html file that links to the documentation (the first top section), and have the same menu present for all pages (the four top sections that are pages for now). Kinda like this:

    <aside class="sg drawer">
      <a data-rel="{{navbar.0.url}}" href="/" class="sg homeLink"></a>
      <nav id="men

[2019-11-18 09:11] phun-ky commented on #71
Any progress on this?

[2019-11-18 15:11] straker commented on #71
I am so sorry for keeping you waiting on this once again. This has been a very busy year for me and I haven't quite yet recovered from it. I'll see if my code still outputs the single page, make the index a simple TOC, and try to get this released soon.

[2019-11-24 03:51] straker commented on #71
Alright, if you want to checkout the ` everySectionPage` branch and then add `allSectionPages: true` as an option, that should make each top level section it's own page. Let me know if that solves the problem or if I need to figure out how to make child sections their own pages as well.

[code]

[2019-11-28 09:24] phun-ky commented on #71
Hi! I've already, manually, added each top level section as an own page, and it does not leviate much. The documentation site we generate now is useless in chrome (chrome freezes/hangs).

Is there a way to do something with polymer to fix this?

Will test it out, but if it only make top level section (for my usage, it's 5 pages, and only two of them has examples), it will not do much.

[2019-11-28 09:46] phun-ky commented on #71
Just tried it, and no effect (since I've already done it manually, but as I'm writing this, it needs to be tested without the manual @page -setting). Is it possible to only instantiate the example  when it is close to the viewport, as in, lazy loading? or to look at polymer itself?

[2019-11-28 18:32] phun-ky commented on #71
Removed polymer, and things are working better (note, better, not good or perfect) with Chrome. But still, it is remarkably slower than the other browsers.

[2019-12-06 08:01] phun-ky commented on #71
I feel that I might have not explained clearly what I want. I not only want to have the top parent sections as pages, but I want to be able to say that for example:

I have 7 top parent sections, that has no parent. These are linked too from a custom index.html.
Each one of those pages has their childs. The navigation menu in these pages are only relevant for that page. linking between the 7 pages

[2019-12-06 17:28] straker commented on #71
I believe so. Thinking about it more, does a structure similar to MDN docs make sense? They seem to have every section it's own page with a sidebar nav of every other section that shares the same parent. And they do this for as deep as the nesting goes. Sounds like what you are talking about.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/some

[2020-04-05 06:07] matmar10 opened #79 "Destination `dest` parameter fails due to incorrect relative stylesheet path lookup"
Steps to Reproduce

Create a directory structure such as:

- css/
    - main.css
- styleguide/
- index.js

[code]

Actual Behavior

[code]

Expected Behavior

- Styleguide generated in specified directory
- Stylesheets linked (if flag enabled)

[2020-04-05 06:15] matmar10 commented on #79
Reproduced by PR #80

[2020-04-05 06:17] matmar10 opened #81 "Duplicate resolution of promises within util"

[2020-04-05 06:32] matmar10 commented on #81
@straker If you can comment on the desired functionality and what the test case means to assert, I can fix this. See PR #82  which already fixes based on what is an assumed reasonable functionality.

[2020-04-05 07:10] matmar10 opened #83 "File creation errors not propogated"
From: `lib/generate.js`

The following code uses CPS-style but it's within a promise chain.

The errors thrown are inside callbacks, hence they will never be returned up the promise chain.

[code]

[2020-04-05 18:21] straker commented on #81
Ya for the longest time I just saw any string passed to `done()` threw the error with the string as the message, so never bothered to turn it into an actual Error. So any time a `done()` is called with a string that should be a failed test case and should technically be `done(new Error(msg))`.

For the code, it should probably be `return reject(data)` and I forgot the return.